body {
  margin: 0;
  padding: 0;
  background-color: #181818;
  color: #E9E9E9;
  font-family: 'Do Hyeon', sans-serif;
  overflow-x: hidden;
}

.login-main {
  height: 80vh;
}
.login-box {
  width: 30vw;
  left: 300px;
  top: 300px;
}

.arrow {
  font-size :40px;
  display: float;
  z-index: 10;
}

.left-arrow {

}

.login-text {
  font-size: 2rem;
  text-align: center;
}

.login-line {
  border: 4px solid red;
}

.login-btn {
  width: 100%;
}
#app {
  padding-top: 4rem;
}

h1 { color: red; }

.nav-bar {
  background-color: rgba(18, 18, 18, 0.9);
  color: white; 
}

.nav-bar a, .nav-bar a:hover {
  text-decoration: none;
  color: white; }

.movie-container {
  margin-top: 5rem;
  display: flex;
  padding: 0 4rem;
}

.show-more {
  visibility: hidden;
  position: absolute;
  left:120px;
  top: 158px;
}

.movie-small-name {
  margin-left: 1rem;
}

.items {
  background-color: green;
  height: 12rem;
  flex: 0 0 19.7%;
  max-width: 353px !important;
  text-align: center;
  margin: 0 6px;
  transition: transform 400ms ease 200ms;
}

.movie-container:hover .items {
  transform: translateX(-25%);
}

.items:hover ~ .items {
  transform: translateX(25%);
}
.items:hover .dod, .items:hover .show-more{
  visibility: visible;
}

.items:hover {
  transform: scale(1.38) !important;
}

.show-more-see {
  margin-top:80px;
  margin-left: 4rem;
}

.movie-sub-title {
  display: flex;
  flex-direction: space-around;
}

.sub-box-name {
  border: 2px solid white;
  color: white;
  font-size: 1.3rem;
  margin-left: 1rem;
  margin-right: -4px;
  padding: 0.4rem 0.8rem;
}
.movie-sub-title {
  margin-top: 2rem;
}
.sub-box-value {
  background-color: white;
  color : #181818;
  font-size: 1.3rem;
  padding: 0.5rem 0.9rem;
}

.movie-main-title {
  display: inline-block;
  color: white;
}

.movie-close-btn {
  text-align: right;
  color: white;
  font-size: 4rem;
  cursor: pointer;
}

.movie-close-btn:active {
  color: #9A9A9A;
  transform : rotateX(90deg);
}

.movie-detail-title {
  
}

.detail-description {
  font-size: 1.5rem;
  max-height: 400px;
  overflow-y: hidden;
  text-overflow: ellipsis;
  letter-spacing: 1.2px;
}
.detail {
  font-size: 1.3rem;
  color: rgba(255, 255, 255, 0.6);
  overflow: hidden;
  margin-right: 1rem;
}

.detail-subtext {
  margin: 0 4px;
}

.movie-detail-pics {
  width: auto;
  height: auto;
  max-height: 500px;
}