{% extends 'base.html' %}
{% load static %}
{% block body %}
<div id="app">
  <div class="movie1" :class="{'showing':show}">
    <i @click="prevPage" class="fas fa-chevron-left arrow left-arrow"></i>
    <div :style="{'margin-left': page +'%'}"class="movie-container">
      <div class="items d-flex align-items-end" v-for="movie in movies" :style="{'background': 'url(https://image.tmdb.org/t/p/w500'+movie.backdrop+')'}"> 
        <div class="item-bottom">
          <span class="movie-small-name">[[ movie.title ]]</span>
          <i v-show="!show" class="fas fa-chevron-down show-more mb-2" @click="showMore(movie)"></i>
          <i v-show="show" class="fas fa-chevron-up show-more mb-2" @click="showMore(movie)"></i>
        </div>
      </div>
      <i @click="nextPage"class="fas fa-chevron-right arrow right-arrow"></i>
  </div>
  
  <show-more :rm="recommendMovies":class=`show-more-see` v-show="show" :movie="showmovie" v-model="show" show="show"></show-more>
  </div>
  <div class="movie2">
    <i @click="prevPage2" class="fas fa-chevron-left arrow left-arrow2"></i>
    <div :style="{'margin-left': page2 +'%'}"class="movie-container">
      <div class="items d-flex align-items-end" v-for="movie in movies2" :style="{'background': 'url(https://image.tmdb.org/t/p/w500'+movie.backdrop+')'}"> 
        <div class="item-bottom">
          <span class="movie-small-name">[[ movie.title ]]</span>
          <i v-show="!show2" class="fas fa-chevron-down show-more mb-2" @click="showMore2(movie)"></i>
          <i v-show="show2" class="fas fa-chevron-up show-more mb-2" @click="showMore2(movie)"></i>
        </div>
      </div>
      <i @click="nextPage2"class="fas fa-chevron-right arrow right-arrow2"></i>
    </div>
    
    <show-more :class=`show-more-see` v-show="show2" :movie="showmovie" v-model="show2" show="show2"></show-more>
  </div>
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script type="text/javascript" src="{% static 'movie/js/comment.js' %}"></script>
<script type="text/javascript" src="{% static 'movie/js/recommend.js' %}"></script>
<script type="text/javascript" src="{% static 'movie/js/main.js' %}"></script>



{% endblock %}
