{% extends 'base.html' %}
{% load static %}
{% block body %}
<div id="app">
  <h1>Hello World!</h1>
  <div class="movie-container">
    <div class="items d-flex align-items-end" v-for="movie in movies" :style="{'background': 'url('+movie.backdrop+')'}">
      
      <div class="item-bottom">
        <span class="movie-small-name">[[ movie.title ]]</span>
        <button class="btn btn-primary py-1 show-more" @click="showMore(movie)">더보기</button>
      </div>
    </div>
  </div>
  <show-more :class=`show-more-see` v-show="show" :movie="showmovie"></show-more>
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="text/javascript" src="{% static 'movie/js/main.js' %}"></script>
{% endblock %}
